// base color
$blue: #324157;
$light-blue: #3A71A8;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;

// sidebar
// $menuText:#bfcbd9;
// $menuActiveText:#409EFF;
// $subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951
// $menuBg:#304156;
// $menuHover:#263445;
// $subMenuBg:#1f2d3d;
// $subMenuHover:#001528;
// 菜单字体颜色
$menuText: #f7fbff;
// 菜单字体选中颜色
$menuActiveText: #f7fbff;
// 菜单目录字体选中颜色
$subMenuActiveText: #f7fbff; // https://github.com/ElemeFE/element/issues/12951
// 菜单背景颜色
$menuBg: Transparent; // 设置菜单组件为透明颜色，然后使用css样式修改
// 菜单悬浮颜色
$menuHover: #399efd;
// 菜单目录背景颜色
$subMenuBg: Transparent; // 设置菜单组件为透明颜色，然后使用css样式修改
// 菜单目录悬浮颜色
$subMenuHover: #399efd;
// 菜单宽度悬浮颜色
$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
